<div class='alien'>
    <div class='gs-container'>
        <div class='alien__flex'>
            <div class='alien__content'>
                <h1 class='alien__headline alien__headline--1'>They found photographs of an alien</h1>
                <h1 class='alien__headline alien__headline--2'>They they believed all of it</h1>
                <h3 class='alien__byline'>by Les Carpenter</h3>
                <img class='alien__image' src='@@assetPath@@/assets/images/photo.jpg' />
            </div>
        </div>
    </div>
</div>