.alien {
    background-color: $c-black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

.alien__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.alien__content {
    position: relative;
}

.alien__headline {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $c-white;
    color: $c-black;
    font-family: 'Guardian Egyptian Web';
    font-size: 54px;
    line-height: 1;
    padding: 18px 14px;
    display: inline-block;
    white-space: nowrap;
}

.alien__headline--1 {
    background-color: $c-black;
    color: $c-yellow;
    transform: rotate(-3deg);
    top: 140px;
    left: -210px;
}

.alien__headline--2 {
    top: 260px;
    left: 400px;
    transform: rotate(2deg);
}

.alien__byline {
    background-color: $c-yellow;
    color: $c-black;
    font-weight: bold;
    font-family: 'Guardian Egyptian Web';
    font-size: 24px;
    line-height: 1;
    padding: 12px 10px;
    display: inline-block;
    position: absolute;
    bottom: -24px;
    transform: rotate(-2deg);
    right: 100px;
}

.alien__image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
